---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Blog</h1>
  <p>Learning about web development and hobby game dev</p>
</BaseLayout>